/* https://paletton.com/#uid=13t0u0kllllaFw0g0qFqFg0w0aF */
body {
    overflow: auto;
    display: inline-block;
    padding: 0;
    margin: 0;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;
}

#wrapper {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

#leftbar {
    flex: 1;
    min-width: 480px;

    background-color: #477187;
    padding: 0 2ch 0 2ch;
    color: white;
}

#main {
    flex: 4;
}

@media screen and (orientation: portrait) {
    #wrapper {
        flex-direction: column-reverse;
        height: auto;
        width: 100vw;
    }
    #leftbar {
        min-width: 320px;
        width: 100%;
    }
    #main {
        width: 100%;
    }
}

#main {
    margin: 0;
    padding: 0 2ch 0 2ch;
}

a,a:hover,a:link {
  color: inherit;
}

ul {
    list-style: none
}

li {
    padding: 0.2ch;
}

.bigul li {
    padding: 1ch 0.1ch 1ch 0.1ch;
}

@media (prefers-color-scheme: dark) {
    #main {
        color: white;
        background-color: #032436;
    }
    #leftbar {
        background-color: #113B51;
    }
}
